/media/data/*
/monitoring/data/*
/documents/data/*
/homepage/data/homepage/config/logs/*
/analytics/data/*
/proxy/data/*
/dns/data/*
/terminal/data/*
/notifications/data/*
/management/data/*
.env
.cursor/*
