/media/qbittorrent/
/media/pia*
/media/sonarr/
/media/radarr/
/media/lidarr/
/media/bazarr/
/media/prowlarr/
/media/seerr/
/media/sonarr/
/media/radarr/
/media/lidarr/
/media/bazarr/
/media/prowlarr/
/media/seerr/
/media/gluetun/
/data/
/media/data/
.env