# Monitoring
MONITORING_SUBNET=172.39.1.0/24

# Beszel
BESZEL_IP=172.39.1.2
BESZEL_PORT=8090
BESZEL_LOG_LEVEL=info
BESZEL_URL=http://localhost:8090

# Beszel Agent
BESZEL_AGENT_KEY='ssh-edXXXXX KEYXXXXX'
BESZEL_AGENT_TOKEN=XXXXX-TOKENXXXXX
BESZEL_AGENT_LISTEN=45876
BESZEL_AGENT_LOG_LEVEL=info


# Dozzle
DOZZLE_IP=172.39.1.3