PUID=1000
PGID=1000
TZ=Europe/Dublin
WEBUI_PORT=8080
TORRENTING_PORT=6881

# Wireguard PIA
VPN_SERVICE_PROVIDER=private internet access # VPN service provider
OPENVPN_USER=username
OPENVPN_PASSWORD=password
SERVER_REGIONS=Ireland # PIA server region
PIA_LOC=ireland # PIA location
VPNDNS=10.0.0.243,10.0.0.242 # VPN DNS servers
LOCAL_NETWORK=192.168.0.0/24 # Local network
