PUID=1000
PGID=1000
TZ=Europe/Dublin

HOMEPAGE_ALLOWED_HOSTS=localhost:3003

# Homepage service variables
HOMEPAGE_VAR_SYNOLOGY_USERNAME=
HOMEPAGE_VAR_SYNOLOGY_PASSWORD=
HOMEPAGE_VAR_SYNOLOGY_URL=

HOMEPAGE_VAR_UNRAID_URL=
HOMEPAGE_VAR_UNRAID_KEY=

HOMEPAGE_VAR_UNIFI_URL=
HOMEPAGE_VAR_UNIFI_KEY=

HOMEPAGE_VAR_QBIT_URL=
HOMEPAGE_VAR_QBIT_USERNAME=
HOMEPAGE_VAR_QBIT_PASSWORD=

HOMEPAGE_VAR_BESZEL_URL=
HOMEPAGE_VAR_DOZZLE_URL=

HOMEPAGE_VAR_JELLYFIN_URL=
HOMEPAGE_VAR_JELLYFIN_KEY=

HOMEPAGE_VAR_JELLYSTAT_URL=
HOMEPAGE_VAR_JELLYSTAT_KEY=

HOMEPAGE_VAR_SONARR_URL=
HOMEPAGE_VAR_SONARR_KEY=

HOMEPAGE_VAR_RADARR_URL=
HOMEPAGE_VAR_RADARR_KEY=

HOMEPAGE_VAR_LIDARR_URL=
HOMEPAGE_VAR_LIDARR_KEY=

HOMEPAGE_VAR_BAZARR_URL=
HOMEPAGE_VAR_BAZARR_KEY=

HOMEPAGE_VAR_SEERR_URL=
HOMEPAGE_VAR_SEERR_KEY=

HOMEPAGE_VAR_PROWLARR_URL=
HOMEPAGE_VAR_PROWLARR_KEY=

HOMEPAGE_VAR_FLARESOLVERR_URL=

HOMEPAGE_VAR_SUGGESTARR_URL=

HOMEPAGE_VAR_PAPERLESS_NGX_URL=
HOMEPAGE_VAR_PAPERLESS_NGX_KEY=

HOMEPAGE_VAR_PAPERLESS_AI_URL=

HOMEPAGE_VAR_PAPERLESS_GPT_URL=

HOMEPAGE_VAR_ATUIN_URL=

HOMEPAGE_VAR_SPOTIFY_URL=
HOMEPAGE_VAR_SPOTIFY_SERVER_URL=
HOMEPAGE_VAR_SPOTIFY_KEY=

HOMEPAGE_VAR_WEATHERAPI_KEY=

HOMEPAGE_VAR_CLOUDFLARED_URL=
HOMEPAGE_VAR_CLOUDFLARED_TOKEN=
HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID=
HOMEPAGE_VAR_CLOUDFLARED_TUNNELID=
