PULSEARR_DB_NAME=pulsearr
PULSEARR_DB_USER=pulsearr
PULSEARR_DB_PASSWORD=
DATABASE_URL=postgresql://pulsearr:${PULSEARR_DB_PASSWORD}@db:5432/pulsearr
BACKUP_KEEP_DAYS=7
BACKUP_KEEP_WEEKS=0
BACKUP_KEEP_MONTHS=0

PULSEARR_API_PORT=8700
APP_URL=http://192.168.0.24:8700
APP_TIMEZONE=Europe/Dublin

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://192.168.0.24:8700
AUTH_TRUSTED_ORIGINS=pulsearr://,exp://192.168.*.*:*/**,exp://100.*.*.*:*/**
PULSEARR_ALLOW_REGISTRATION=false

TMDB_API_TOKEN=
PROVIDER_NAME=Netflix
REGION=IE

SEERR_URL=http://seerr:5055
SEERR_API_KEY=

JELLYFIN_URL=http://192.168.0.149:8096
JELLYFIN_API_KEY=

GOTIFY_URL=http://gotify:80
GOTIFY_APP_TOKEN=

SYNC_CRON=0 6 * * *
LIBRARY_REFRESH_CRON=*/15 * * * *
WEEKLY_SUMMARY_CRON=0 9 * * 0

LOG_LEVEL=info

